@font-face {
  font-family: "dm_monoitalic";
  src: url("./../assets/fonts/dmmono-italic-webfont.woff2") format("woff2"),
    url("./../assets/fonts/dmmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_monolight";
  src: url("./../assets/fonts/dmmono-light-webfont.woff2") format("woff2"),
    url("./../assets/fonts/dmmono-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_monolight_italic";
  src: url("./../assets/fonts/dmmono-lightitalic-webfont.woff2") format("woff2"),
    url("./../assets/fonts/dmmono-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_monomedium";
  src: url("./../assets/fonts/dmmono-medium-webfont.woff2") format("woff2"),
    url("./../assets/fonts/dmmono-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_monomedium_italic";
  src: url("./../assets/fonts/dmmono-mediumitalic-webfont.woff2")
      format("woff2"),
    url("./../assets/fonts/dmmono-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_monoregular";
  src: url("./../assets/fonts/dmmono-regular-webfont.woff2") format("woff2"),
    url("./../assets/fonts/dmmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
