@import "./fonts.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "dm_monoregular";
  background: #000;

  .content {
    background-color: #ffffff;
    margin: 70px;
    padding: 20px 50px;
    width: 70%;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;

      figure {
        img {
          border-radius: 50%;
          width: 300px;
          height: 300px;

          &.visible {
            display: block;
            -webkit-animation-name: fadeIn;
            -webkit-animation-duration: 3s;
            animation-name: fadeIn;
            animation-duration: 3s;
          }

          &.invisible {
            display: none;
          }
        }

        figcaption {
          margin-top: 20px;
          text-align: center;

          #name {
            font-family: "dm_monolight_italic";
          }
        }
      }
    }

    #main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      &.invisible {
        opacity: 0;
      }

      &.visible {
        animation: fadeIn 3s ease-in;
      }

      article {
        &.skills {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 100px;
        }

        &.projects {
          .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
            grid-template-rows: auto;
            grid-gap: 20px;

            section {
              padding: 20px;
              border-radius: 10px;
              border: 1px solid black;

              &:hover {
                background-color: rgb(244, 244, 249);
                color: #0d589f;
                transition-duration: 1s;
                transform: scale(1.4) translate3d(50px, 50px, 50px);
                box-shadow: 10px 10px 10px -3px;
              }

              p {
                font-family: "dm_monomedium";
                font-size: 0.8em;
              }

              .project_details {
                display: grid;
                grid-template-columns: 80px 1fr;
                grid-template-rows: auto;
                grid-gap: 10px;

                p {
                  font-family: monospace;
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }

          img {
            width: 400px;
          }
        }

        h2 {
          text-align: center;
        }

        ul {
          list-style: none;

          li {
            display: block;
            border: 1px solid black;
            padding: 5px 20px;
            border-radius: 10px;
            box-shadow: 10px 5px 15px -5px;
            margin-bottom: 10px;
            font-family: "dm_monomedium_italic";
            text-align: center;

            &:hover {
              background-color: rgb(244, 244, 249);
              color: #0d589f;
              transform: scale(1.3);
              transition-duration: 0.2s;
            }
          }
        }
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (max-width: 1200px) {
  body {
    .content {
      header {
        flex-direction: column;
        align-items: center;
      }

      #main {
        article {
          &.projects {
            .grid {
              section {
                &:hover {
                  transform: scale(1.3);
                }

                p {
                  font-family: "dm_monomedium";
                  font-size: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}
